node_modules/
.next/
release/
tmp/
*.log
tsconfig.tsbuildinfo
/papers/
/paper-images/
/paper-page-shots/
/lab-media/
/public/pdfs/
*.pdf
/gmail.txt
/guandance.txt
/.codex_deploy_key
/.codex_deploy_key.pub
/ssqs.site.jpg
